<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
    <div class="w-10 rounded-full bg-base-300 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-base-content" viewBox="0 0 14 14">
        <path fill="currentColor" fill-rule="evenodd"
          d="M14 7a6.98 6.98 0 0 1-1.941 4.838A6.98 6.98 0 0 1 7.02 14h-.04a6.98 6.98 0 0 1-5.039-2.162A7 7 0 1 1 14 7m-2.757 3.5A5.49 5.49 0 0 0 7 8.5a5.49 5.49 0 0 0-4.243 2A5.49 5.49 0 0 0 7 12.5a5.49 5.49 0 0 0 4.243-2M7 7.5a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5"
          clip-rule="evenodd" />
      </svg>
    </div>
  </div>
  <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
    <li>
      <a href="https://www.linkedin.com/in/gisella-aramayo/" target="_blank" aria-label="LinkedIn">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/giaramayo/technical-exercise" target="_blank" aria-label="GitHub">GitHub</a>
    </li>
  </ul>
</div>
