<div class="hero min-h-screen relative">
  <div class="absolute inset-0">
    <img
      src="https://images.unsplash.com/photo-1569508896318-74c7a167fe69?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470"
      class="w-full h-full object-cover filter blur-sm brightness-75"
      alt="Fondo difuminado">
  </div>

  <div class="relative z-10 flex flex-col items-center justify-center min-h-screen text-center px-5">
    <div class="max-w-md text-green-100 drop-shadow-md">
      <h1 class="mb-10 text-5xl font-bold text-green-300">
        Proyecto Técnico
      </h1>
      <p class="mb-5 text-orange-100">
        Esta aplicación ofrece una integración completa de productos, categorías, países, banderas y regiones.
      </p>

      <p-button
        label="Empezar"
        routerLink="/country"
        class="bg-green-500 border-none hover:bg-green-600 text-white"
      ></p-button>
    </div>
  </div>
</div>

