<p-toast />

@if(product()) {
<div class="card lg:card-side bg-base-100 shadow-sm max-w-30xl mx-auto mt-10">
  <figure>
    <img [src]="product()?.image || 'https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp'"
      [alt]="product()?.title" />
  </figure>
  <div class="card-body">

    <div class="stat-value text-accent">{{ product()?.title }}</div>

    <span class="font-medium text-gray-500 dark:text-gray-400 text-sm">
      {{ product()?.category }}
    </span>

    <p>{{ product()?.description }}</p>

    <span class="text-4xl font-bold text-accent">{{ product()?.price | currency: 'USD' }}</span>

    <span class="indicator-item badge badge-secondary">Rating: {{ product()?.rating?.count }}/5</span>

    <div class="card-actions justify-end">
      <action-store [idProducts]="productId()" [searchEvent]="false" (onAction)="actionProduct($event)" />
    </div>
  </div>

</div>
} @else if( productResource.error() ) {
<app-not-found [text]="'No se encontró producto'" [showBotton]="false" />
}
