<p-toast />

<h2 class="text-2xl lg:text-3xl font-bold text-accent break-words leading-tight truncate"
  style="max-width: 100%; white-space: normal; overflow-wrap: break-word;">
  Busqueda por país
</h2>

<span class="font-medium text-gray-500 dark:text-gray-400 text-sm">Ingresar una nombre del pais</span>
<search-input
  (value)="query.set($event)"
  placeholder="Buscar..."
  [initialValue]="query()"
/>

@if(query()) {
  <country-list
    [countries]="countryResource.value()"
    [search]="false"
    [errorMessage]="countryResource.error()"
    [isEmpty]="countryResource.value().length === 0"
    [isLoading]="countryResource.isLoading()"
  />
}
