<section class="mt-5">
  <p-table #dt
    [value]="countries()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="isLoading()"
    [globalFilterFields]="['name', 'capital']"
    dataKey="cca2"
    class="!bg-transparent !text-slate-200"
    [tableStyle]="{ 'min-width': '60rem' }">

    @if(search()) {
      <ng-template #caption>
        <div class="flex justify-between items-center mb-3">
            <div class="text-lg font-semibold"></div>
            <div class="flex items-center gap-2">
              <input pInputText type="text" placeholder="Buscar país..." class="p-inputtext-sm" (input)="dt.filterGlobal($event.target.value, 'contains')" />
              <p-button icon="pi pi-filter-slash" label="Limpiar" [outlined]="true" (click)="dt.clear()" />
            </div>
          </div>
      </ng-template>
    }

    <ng-template #header>
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 10%">Ícono</th>
        <th style="width: 15%">Bandera</th>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
        <th pSortableColumn="capital">Capital <p-sortIcon field="capital" /></th>
        <th pSortableColumn="population">
          <div class="flex items-center justify-between">
            Población
            <p-columnFilter field="population" matchMode="between" display="menu" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template #filter let-value let-filter="filterCallback">
                <p-slider [(ngModel)]="rangeValue" [range]="true" [min]="0" [max]="200000000" class="m-4" (onSlideEnd)="filter($event.values)"></p-slider>
                <div class="flex justify-center text-sm">
                  @if(!rangeValue) {
                    <span> 0 </span>
                  } @else {
                    <span> {{ rangeValue[0] | number }} - {{ rangeValue[1] | number }}</span>
                  }
                </div>
              </ng-template>

            </p-columnFilter>
          </div>
        </th>
        <th style="width: 15%"></th>
      </tr>
    </ng-template>

    <ng-template #body let-country let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td><img [src]="country.flagSvg" class="w-10 rounded" /></td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <p-tag [value]="(country.population | numberWithDots) ?? ''" [severity]="getPopulationSeverity(country.population)"></p-tag>
        </td>

        <td>
          <a [routerLink]="['/country/by', country.cca2]" class="text-blue-400 hover:underline">
            Más información
          </a>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="7" class="text-center py-4">
          @if (isLoading()) {
           Buscando países...
          } @else if (errorMessage()) {
             {{ errorMessage() }}
          } @else {
           No se encontraron resultados.
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
